<!-- Validation failure messages -->
<% if @job.errors.any? %>
  <% @job.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Job</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_job/<%= @job.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">

        <h4>Employee: <%= @job.user.first_name %> <%= @job.user.last_name %></h4>

        <h5>Company: <%= @job.company.name %></h5>


        <!-- Label and input for title -->
        <div class="form-group">
          <label for="title" class="control-label">
            Title
          </label>

          <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="<%= @job.title %>">
        </div>

      <!-- Label and input for pay_rate -->
      <div class="form-group">
        <label for="pay_rate" class="control-label">
          Pay rate
        </label>

        <input type="text" id="pay_rate" name="pay_rate" placeholder="Pay rate" class="form-control" value="<%= @job.pay_rate %>">
      </div>





      <!-- Label and input for admin_id -->
      <div class="form-group">
        <label for="admin_id" class="control-label">
          Admin
        </label>

        <select class="form-control" id="admin_id" name="admin_id">
          <% @admin.each do |admin| %>
          <% if admin.company_id == @job.company_id %>
          <option value="<%= admin.user.id %>"><%= admin.user.first_name %> <%= admin.user.last_name %></option>
          <% end %>
          <% end %>
        </select>
      </div>



      <button class="btn btn-warning">
        Update Job
      </button>
      or
      <a href="/jobs/<%= @job.id %>">Cancel</a>
    </form>
  </div>
</div>
