<div class="page-header">
  <h1>
    Shifts
  </h1>
</div>

<% @jobs.find_by(admin_id: current_user.id).each do |job| %>


<h2><%= job.company.name.upcase %>: <%= job.title %></h2>
<button type="button" name="button" class="btn btn-lg btn-success"><%= link_to "New Shift", "/shifts/new?job_id=#{job.id}", {:style=>"color:white"} %></button>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Date</th>
        <th>Time In</th>
        <th>Time Out</th>
        <th>Hours Worked</th>
        <th>Total Pay</th>
        <th>Bonus</th>
        <th>Reimbursements</th>
        <th></th>
      </tr>

      <% @shifts.find_by(job_id: job.id).each do |shift| %>
      <tr>
        <td><a href="/shifts/<%= shift.id %>/edit"><%= shift.time_in.to_date %></a></td>
        <td><a href="/shifts/<%= shift.id %>/edit"><%= shift.time_in.in_time_zone("Central Time (US & Canada)").hour.to_s.rjust(2, '0') %>:<%= shift.time_in.min.to_s.rjust(2, '0') %></a></td>
        <td><a href="/shifts/<%= shift.id %>/edit"><%= shift.time_out.in_time_zone("Central Time (US & Canada)").hour.to_s.rjust(2, '0') %>:<%= shift.time_out.min.to_s.rjust(2, '0') %></a></td>
        <td><a href="/shifts/<%= shift.id %>/edit"><%= shift.hours_worked %></a></td>
        <td><a href="/shifts/<%= shift.id %>/edit">$<%= shift.total_pay %></a></td>
        <td><a href="/shifts/<%= shift.id %>/edit">$<%= shift.bonus %></a></td>
        <td><a href="/shifts/<%= shift.id %>/edit">$<%= shift.reimbursements %></a></td>
        <td>
          <a href="/delete_shift/<%= shift.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>

  </div>
</div>

<% end %>
